<h1>Books</h1>

<%= render "books/list", book: @book_new, user: @user %>

<% @books.each do |book| %>
<div>
 <%= image_tag book.user.get_profile_image(100,100) %>
 <%= link_to book.title, book_path(book) %>
 <%= book.body %>
</div>
<% end %>

